<ion-view view-title="Acessos">
<ion-content>
      <div class="list">
      <a class="item item-icon-right" href="#/bancadas">
        <h2 class="mapTitle">Bancadas</h2>
        <i class="icon ion-chevron-right"></i>
    </a>
    <a class="item item-icon-right" href="#/estacionamentos">
        <h2 class="mapTitle">Estacionamentos</h2>
        <i class="icon ion-chevron-right"></i>
    </a>
    <a class="item item-icon-right" href="#/saidas">
        <h2 class="mapTitle">Saídas/Entradas</h2>
        <i class="icon ion-chevron-right"></i>
    </a>
    </div>
</ion-content>
    </ion-view>