<ion-view view-title="AJUDA">
<ion-content>
<h4>Utilize qualquer um dos canais da seguinte lista para esclarecimento de dúvidas</h4>
<div class="list card">

  <a ng-click="openLink(googleMaps)" class="item item-icon-right">
    <i class="icon ion-home"></i>
    Av. Carvalho Araújo 7, 5000-651 Vila Real
  </a>

  <a ng-href="tel:+351939758552" class="item item-icon-right">
    <i class="icon ion-ios-telephone"></i>
    (+351) 939 758 552
  </a>

  <a ng-href="mailto:apcivr@gmail.com" class="item item-icon-right">
    <i class="icon ion-email"></i>
    apcivr@gmail.com
  </a>

  <a ng-click="openLink(civrFacebook)" class="item item-icon-right">
    <i class="icon ion-social-facebook"></i>
    CIVR Facebook
  </a>

  <a ng-click="openLink(civrTwitter)" class="item item-icon-right">
    <i class="icon ion-social-twitter"></i>
    CIVR Twitter
  </a>

  <a ng-click="openLink(civrInstagram)" class="item item-icon-right">
    <i class="icon ion-social-instagram"></i>
    CIVR Instagram
  </a>

</div>
      </ion-content>
    </ion-view>