<ion-view view-title="Home">
<ion-content class="padding">
<a href="#/news" class="button button-block item-icon-right">Noticias<i class="icon ion-ios-paper"></i></a>
<a href="#/schedule" class="button button-block item-icon-right">Horário<i class="icon ion-ios-calendar-outline"></i></a>
<a href="#/access" class="button button-block item-icon-right">Accessos<i class="icon ion-ios-location"></i></a>
<a href="#/maps" class="button button-block item-icon-right">Mapas<i class="icon ion-map"></i></a>
<a href="#/instacivrfeed" class="button button-block item-icon-right">Fotos<i class="icon ion-map"></i></a>

</ion-content>
</ion-view>